.cart-wrapper__cart-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  width: 68px;
  height: 30px;
  color: var(--color-white);
  background-color: var(--color-orange1);
  cursor: pointer;
}
.cart-button__icon {
  margin-left: 10px;
}
.icon-cart {
  font-size: 20px;
}
.cart-button__products-count {
  position: relative;
  bottom: 1px;
  font-size: 15px;
  font-family: 'Noto Sans Medium', sans-serif;
  margin-right: 10px;
}
