.product-modal {
  max-height: 500px;
  overflow-y: auto;
}
.product-modal::-webkit-scrollbar {
  transition: color 0.3s;
  width: 8px;
  height: 15px;
  cursor: pointer;
}
.product-modal::-webkit-scrollbar-thumb {
  border: 1px solid var(--color-white);
  border-radius: 7px;
  background-color: var(--color-grey2);
  cursor: pointer;
}
.product-modal__product-info {
  display: flex;
  flex-direction: row;
}
.product-info__product-preview {
  margin-right: 20px;
}
.product-details__title {
  max-width: 300px;
  font-family: 'Noto Sans Medium', sans-serif;
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 20px;

}
.product-details__rating {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}
.rating__rating-value {
  font-size: 15px;
  font-family: 'Noto Sans Medium', sans-serif;
  margin-right: 10px;
}
.rating__rating-count {
  font-size: 12px;
  color: var(--color-grey4);
  font-family: 'Noto Sans Medium', sans-serif;
}
.product-details__delivery-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.delivery-info__delivery-time {
  font-family: 'Noto Sans Medium', sans-serif;
  line-height: 15px;
}
.product-details__composition {
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans Bold', sans-serif;
}
.composition__item {
  display: flex;
  font-family: 'Noto Sans Medium', sans-serif;
  margin-bottom: 10px;
}
.composition__item--name {
  margin-right: 10px;
}
.composition__item--count {
  margin-left: 10px;
}
.feedback-wrapper__title {
  font-family: 'Noto Sans Medium', sans-serif;
  font-size: 18px;
}
